.container-main{
  height: 100vw;
  width: 100vh;
}

.container-result{
  width: inherit;
  height: 10vh;
}

.container-result-input{
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  width: inherit;
  height: inherit;
}

.container-keyboard{
  width: inherit;
  height: 90vh;
}


.container-image{
  height: 25vw;
  width: 40vh;
  margin: 1vw 1.5vw;
  align-items: center;
  justify-content: center;
}

img {
  height: 7rem;
  width: 7rem;
}
