@media screen and (orientation: portrait) {
  .container-main{
    height: 100vw;
    width: 100vh;
    overflow: hidden;
  }

  .container-result{
    width: inherit;
    height: 10vh;
  }

  .container-result-input{
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    width: inherit;
    height: inherit;
  }

  .button-send{
    position: absolute;
    top: 4vw;
    left: 90vh;
  }

  .container-keyboard{
    width: inherit;
    height: 90vh;
  }


  .container-image{
    height: 25vw;
    width: 50vh;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
  }

  img {
    height: 7rem;
    width: 7rem;
  }
}


@media screen and (orientation: landscape) {
  .container-main{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .container-result{
    width: inherit;
    height: 8vw;
  }

  .container-result-input{
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    /*width: inherit;*/
    height: inherit;
  }

  .button-send{

  }

  .container-keyboard{
    width: inherit;
    height: 90vw;
  }


  .container-image{
    height: 22vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  img {
    height: 7rem;
    width: 7rem;
  }
}
