/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*@media only screen and (orientation:landscape){*/
/*  body {*/
/*    height: 100vw;*/
/*    transform: rotate(90deg);*/
/*  }*/
/*}*/
/*@media only screen and (orientation:portrait){*/
/*  body {*/
/*    height: 100vw;*/
/*    transform: rotate(90deg);*/
/*  }*/
/*}*/

/*@media only screen and (orientation:landscape){*/
/*  body {*/
/*    height: 100vh;*/
/*    !*transform: rotate(90deg);*!*/
/*  }*/
/*}*/


@media screen and (orientation: portrait) {
  body{
    height: 100vw;
    transform: rotate(90deg);
  }
}
